<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/frontend?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="show_sql">true</property>
        <property name="spring.jpa.hibernate.naming.implicit-strategy">
            org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        </property>
        <property name="spring.jpa.hibernate.naming.physical-strategy">
            org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        </property>


        <mapping class="by.matusevich.pojo.Transaction"/>
        <mapping class="by.matusevich.pojo.Wallet"/>
        <mapping class="by.matusevich.pojo.AppUser"/>
        <mapping class="by.matusevich.pojo.Block"/>

    </session-factory>

</hibernate-configuration>